---
layout: page
title: Deelnemers
permalink: /deelnemers/
---

<div class="row">
  {% for deelnemer in site.deelnemers %}
  <div class="col grid-deelnemer s12 m6 l3 white lighten-3">
  	<div class="center">
  		<a href="{{ deelnemer.url }}">
        {% if deelnemer.logo %}
          <img class="grid-logo" alt="Logo {{ deelnemer.naam }}" title="{{ deelnemer.naam }}" src="/assets/logos/thumbs/{{ deelnemer.logo }}"><br>
    		{% endif %}
        <span class="flow-text deelnemer-naam">{{ deelnemer.naam }}</span>
  		</a>
    </div>
  </div>
  {% endfor %}
</div>
