---
layout: page
title: Deelnemers
permalink: /deelnemers/
---

<div class="row">
  {% for deelnemer in site.deelnemers %}
  <div class="col grid-example grid-deelnemer s12 m6 l3 blue lighten-3">
  	<span class="flow-text">
  		<a href="{{ deelnemer.url }}">
  		{{ deelnemer.naam }}
      {% if deelnemer.logo %}
  			<br>
        <img class="grid-logo" alt="Logo {{ deelnemer.naam }}" title="{{ deelnemer.naam }}" src="/assets/logos/{{ deelnemer.logo }}">
  		{% endif %}
  		</a>
  	</span>
  </div>
  {% endfor %}
</div>
