<h1 class="center">Ons manifest</h1>
<p>
Het Anti-Abuse Netwerk – Maakt werk van digitale weerbaarheid!
<br>
</p>
<p>
Wij zijn ondernemers, onderzoekers, (non-profit) dienstverleners en overheidsfunctionarissen die actief zijn betrokken bij het digitale fundament van de Nederlandse economie.
Wij werken aan een veilige en betrouwbare online infrastructuur voor alle Nederlanders en we zijn trots op de Nederlandse netwerken van het internet. Ook in tijden van crisis zoals tijdens de COVID-19-pandemie zien we hoe stabiel onze digitale infrastructuur is. 
<br>
Toch zijn we er nog niet in Nederland. Risico’s voor de digitale weerbaarheid kunnen niet alleen met preventieve maatregelen worden weggenomen. Het gericht informeren van organisaties en consumenten over wat er bij hen mis is, is essentieel om de weerbaarheid verder te verbeteren. Denk aan: informatie over misbruik van online faciliteiten, over online criminaliteit of kwetsbaarheden ...
</p>
<p>
<a class="right" href="/manifest/">Lees meer...</a>
</p>