---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "main";

img.grid-logo {
	max-width : 100%;
	max-height : 200px;
}

.col.grid-deelnemer {
	height : 12em;
	
}

.date-post {
	font-size: small;
}

.grid-deelnemer {
   border: 0px solid #eee;
   //margin: 7px 0;
   text-align: center;
   line-height: 0.5em;
   font-size: 28px;
   background-color: tomato;
   color: white;
   padding: 0;
}

.deelnemer-naam {
	font-size: small;
}


img.deelnemer-logo {
	width : 50%;
}

* {
	font-weight: 300;
}
