---
layout: default
title: page.naam
---
<div class="container">

<h1 class="page-title"><a href="{{ page.homepage }}">{{ page.naam | escape }}</a></h1>

<div class="section">
	{{ content }}
</div>

{% if page.logo %}
	<div class="section center">
		<a href="{{ page.homepage }}"><img class="deelnemer-logo" alt="Logo {{page.name}}" title="{{ page.name }}" src="/assets/logos/{{ page.logo }}"></a>
	</div>
{% endif %}

<div class="section">
	Website: <a href='{{ page.homepage }}'>{{ page.homepage }}</a>
	<p>
	{% if page.ondertekend %}
		{{ page.naam | escape }} heeft ons <a href="/manifest/">manifest</a> ondertekend.
	{% else %}
		{{ page.naam | escape }} is ondersteunend lid van AAN.
	{% endif %}
</div>

</div>